## Gradle
.gradle
**/build/
!src/**/build/

## Eclipse
bin/
.metadata/
.settings/
.classpath
.project
.loadpath

## VSCode
.vscode/*

## Java
*.class
*.jar
*.war
*.rar
*.nar
*.ear
*.zip
*.tar.gz
hs_err_pid*
replay_pid*
!gradle/wrapper/gradle-wrapper.jar

## Intellij
.idea/
*.ipr
*.iws
*.iml

## OS Specific
.DS_Store
Thumbs.db
